@import "tailwindcss";

body {
  @apply text-black bg-white;
}
@theme {
  --color-background: #ffffff;       
  --color-background-brown: #4B2615;  
  --color-navbar: #4B2615;           
}

[dir="rtl"] {
  direction: rtl;
}

[dir="rtl"] input,
[dir="rtl"] textarea {
  text-align: right;
}

[dir="rtl"] * {
  text-align: inherit;
}
